<ion-header>
  <ion-navbar color="light-grey">
    <ion-buttons left>
    </ion-buttons>
    <ion-title><img id="logo" src="assets/img/top-logo.png"></ion-title>
    <ion-buttons right>
      <button ion-button icon-only tappable (click)="settings()"><ion-icon name="cog"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="alerts.length == 0">
      
        <ion-card-content>
          <img src="/assets/img/bell.png" id="bell">
          <h1 class="text-center">No Active Alerts</h1>
          <!--<button ion-button (click)='map();'>Test Button</button>-->
        </ion-card-content>
      
      </ion-card>
 
 
  <ion-list>
    <ion-item *ngFor="let a of alerts">
      <h2>Alert at {{a.location.nameDisplay}}</h2>
      <h4>Opened By: {{a.openedby.firstname}} {{a.openedby.lastname}}</h4>
      <button ion-button (click)='map();'>View Map</button>
    </ion-item>
  </ion-list>


</ion-content>
