page-activate {
    .large-button{
        height: 90px;
        border-radius: 10px;
        margin-bottom: 15px;
        position: relative;
        .title{
            font-size: 25px;
            font-weight: bold;
            text-align: left;
            border-left: 1px solid white;
            height: 50px;
            vertical-align: middle;
            padding-top: 12px;
            padding-left: 15px;
            margin-left: 15px;
            position: absolute;
            left: 95px;
        }
        img{
            position: absolute;
            left: 15px;
            width: 90px;
            display: block;
        }
    }
}
