page-settings {
    .large-button{
        height: 70px;
        border-radius: 10px;
        margin-bottom: 15px;
        position: relative;
        background-color:#037fc1;
        .title{
            font-size: 25px;
            font-weight: bold;
            height: 50px;
            vertical-align: middle;
            padding-top: 12px;
        }
    }
}
